body {
  margin: 0px;
}

.background-image {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/images/Bliss-background.jpg");
}

#footer__clock {
  width: 150px;
  height: 100%;
  background-image: linear-gradient(180deg, rgb(127, 127, 247), rgb(80, 80, 248));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background-image: linear-gradient(180deg, rgb(80, 80, 255), rgb(10, 10, 252));
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 4%;
  display: flex;
  justify-content: space-between;
}
.footer__startButton {
  background-image: linear-gradient(180deg, rgb(8, 170, 35), rgb(22, 126, 65));
  width: 150px;
  height: 100%;
  border: none;
  border-radius: 0px 12px 12px 0px;
  color: white;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}
.footer__startButton:hover {
  cursor: pointer;
  background-image: linear-gradient(180deg, rgb(58, 179, 78), rgb(44, 124, 77));
}

.icons {
  width: 30vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  padding-top: 3vh;
}
.icons__icon1 {
  display: flex;
  flex-direction: column;
}
.icons__icon1:hover {
  opacity: 0.5;
  cursor: pointer;
}
.icons__icon2 {
  display: flex;
  flex-direction: column;
}
.icons__icon2:hover {
  opacity: 0.5;
  cursor: pointer;
}
.icons__icon3 {
  display: flex;
  flex-direction: column;
}
.icons__icon3:hover {
  opacity: 0.5;
  cursor: pointer;
}

.icon-text {
  font-size: 12px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.icon-size {
  width: 80px;
  height: 80px;
}

.largebox {
  width: 30vw;
  height: 40vh;
  background-color: grey;
  margin-left: 30vw;
  display: none;
  border: 2px solid black;
  position: fixed;
  left: 20vw;
  bottom: 50vh;
}
.largebox__contentbox {
  background-color: #fefefe;
  margin: 15% auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 5vh;
  border: 1px solid #888;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 2px solid black;
}

.textForBox {
  display: flex;
  width: 90%;
  height: 68%;
  margin-left: 1.5vw;
  border: 2px solid black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 1vw;
}

.close:hover,
.close:focus {
  color: rgb(221, 80, 80);
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 1vw;
}
.close2:hover, .close2:focus {
  color: rgb(221, 80, 80);
  text-decoration: none;
  cursor: pointer;
}

.screen-image {
  padding: 10px;
  background-color: white;
  position: fixed;
  left: 20vw;
  bottom: 30vh;
  display: flex;
  flex-basis: content;
  flex-direction: column;
  border: 2px solid black;
  visibility: hidden;
}

.puppy-photo {
  width: 400px;
  height: 500px;
}

.start-menu {
  width: 400px;
  height: 63vh;
  background-image: linear-gradient(180deg, rgb(80, 80, 255), rgb(10, 10, 252));
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  box-shadow: 5px 5px 10px;
}
.start-menu__innerbox {
  width: 396px;
  height: 43vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.username-box {
  height: 90px;
  width: 388px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  color: white;
  font-family: "Segoe UI";
}

.column {
  width: 198px;
  height: 43vh;
  border: 2px solid blue;
}

.column2 {
  width: 198px;
  height: 42.5vh;
  border: 2px solid blue;
  background-color: rgb(164, 201, 245);
  color: rgb(18, 18, 100);
  font-weight: bold;
  padding: none;
  padding-top: 4px;
  text-align: left;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 0px;
  margin-top: 2px;
  margin: 0px;
}

ul > li {
  padding: 6px;
}
ul > li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.start-menu__icon {
  width: 40px;
  height: 40px;
}

.menu-list {
  display: flex;
  align-items: center;
}

.buttonBox {
  width: 98%;
  height: 5vh;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 3px;
}

.start-menu__officon {
  width: 40px;
  height: 40px;
  padding-left: 5px;
}
.start-menu__officon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.startButton-window {
  width: 20px;
  height: 20px;
}

.calcContainer {
  width: 400px;
  margin: 10vh auto 0 auto;
  background-color: white;
  box-shadow: 5px 5px 10px;
  position: fixed;
  left: 50vw;
  bottom: 10vh;
  display: none;
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 20px;
  background-color: black;
  color: white;
}

.buttons {
  display: grid;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 20px;
}

.buttons > div {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.button {
  border: 0.5px solid grey;
  line-height: 100px;
  text-align: center;
}
.button:hover {
  background-color: rgb(197, 194, 194);
  cursor: pointer;
}

#equals {
  background-color: orange;
}
#equals:hover {
  background-color: rgb(197, 194, 194);
}
